<section class="section">
  <div class="columns is-centered is-mobile">
      <app-dropdown [options]="monthOptions" [defaultId]="getDefaultMonthId()"
                    (onOptionSelected)="onMonthChange($event)"></app-dropdown>
      <app-dropdown [options]="yearOptions" [defaultId]="getDefaultYearId()"
                    (onOptionSelected)="onYearChange($event)"></app-dropdown>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered table_wrapper">
      <table class="table is-bordered is-fullwidth">
        <thead>
        <tr>
          <th *ngFor="let dayName of dayNames">
            <span>{{dayName}}</span>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let week of monthDates">
          <td *ngFor="let date of week"
              [ngClass]="{'other-month':date.otherMonth, 'today':date.today}">{{date.day}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>


