.other-month {
  background-color: #eff3f9;
}

.today {
  background-color: #05d1b2;
  color: white;
}

.selectable {
  cursor: pointer;
}

td.selectable:hover {
  color: dimgray;
  background-color: lavenderblush;
}

.table_wrapper {
  display: block;
  overflow: auto;
}

th, td {
  min-width: 6rem;
  height: 5rem;
  text-align: center;
  vertical-align: middle;
}
