.other-month {
  background-color: #eff3f9;
}

.today {
  background-color: mistyrose;
}

.weekend {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,0,172,0.1) 0%, rgba(0,212,255,1) 100%);
}

.table_wrapper {
  display: block;
  overflow: auto;
}

th, td {
  min-width: 6rem;
  height: 5rem;
  text-align: center;
  vertical-align: middle;
}
