<div class="modal" [ngClass]="{'is-active': isActiveModal}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete" aria-label="close" (click)="isActiveModal = !isActiveModal"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus eos esse eveniet molestiae? Culpa cum
        cupiditate, dolor doloribus earum expedita illum iure necessitatibus non officiis quia quis, sed sequi totam.
      </div>
      <div>Deserunt eligendi, error fuga nisi velit voluptates? Accusantium commodi consequatur earum numquam obcaecati
        officia officiis omnis placeat qui, quia reiciendis repellat sequi tempora totam, vel! Corporis dolorem incidunt
        necessitatibus nemo?
      </div>
      <div>Adipisci architecto aspernatur assumenda delectus ducimus et ex, explicabo facere fuga harum incidunt laborum
        minima nesciunt odio porro qui quo recusandae saepe sequi suscipit vel velit voluptates voluptatum! Animi, quos?
      </div>
      <div>Cumque deserunt est explicabo in, quas veniam vitae. Aperiam corporis cumque deleniti earum est eveniet modi
        nam nisi nostrum nulla perspiciatis porro recusandae sed temporibus tenetur totam ut, voluptates voluptatum!
      </div>
      <div>Adipisci magni mollitia obcaecati temporibus vitae. Incidunt ratione similique soluta tenetur vel. Accusamus,
        assumenda consequatur eaque esse exercitationem harum ipsa laudantium modi non officia quaerat sed, similique
        suscipit tenetur vel!
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success">Save changes</button>
      <button class="button" (click)="isActiveModal = !isActiveModal">Cancel</button>
    </footer>
  </div>
</div>
